ul{
    margin: auto;
    padding: 10px;

    width: 100%;
    text-align: left;
    font-family: Verdana;
    font-size: x-large;
}

#menu_wrap{
    text-align: center ;

    margin: auto;

    width: 10%;
    background-color: gainsboro;
    color: black;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button{
    font-size: large;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    /*margin: 8px 0;*/
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 10%;
    background-color: gainsboro;
    color: black;
    padding: 14px 20px;
    /*margin: 8px 0;*/
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightgrey;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
div {
    /*min-font-size: 12px;*/
    /*margin: auto;*/
    /*font-size: xx-large;*/
    /*font-family: monospace;*/
    /*width: 100%;*/
    /*border-radius: 0px;*/
    /*background-color: #f2f2f2;*/
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
    /*padding-bottom: 2%;*/
    /*padding-top: 2%;*/

}

#post,h1 {
    font-size: xx-large;
    font-family: fantasy;
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center ;

}

#count,.button{
    border: 1px solid green;
    padding: 2px;

}

#url,#title{
    font-size: xx-large;
}


/*.duiqi{*/
    /*margin: 0.5vmax;*/
/*}*/
/** {*/
    /*box-sizing: border-box;*/
/*}*/
/*#count {*/
    /*background: #9F0;*/
    /*width: 10%;*/
    /*height: 33px;*/
    /*text-align: center;*/
    /*line-height: 33px;*/
    /*font-size: 21px;*/
    /*margin: 0;*/
    /*border: 1px solid green;*/
    /*border-radius: 1px;*/
/*}*/


/*.button, #count {*/
    /*float: left;*/
/*}*/

/*#minus {*/
    /*margin: 8px 2.5% 0 37.5%;*/
/*}*/

/*#plus {*/
    /*margin: 8px 37.5% 0 2.5%;*/
/*}*/